{% extends 'base.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/easy-autocomplete.min.css') }}">
{% endblock %}

{% block body %}
    <div class="form-wrapper signup-form-wrapper">
        <div id="successMsg" class="alert alert-success hidden">
            Информация сохранена.
        </div>
        <div id="errorMsg" class="alert alert-danger hidden"></div>
        <form method="post" id="profileForm">
            <div class="row form-group">
                <div class="col-md-4 col-12">
                    <i class="fas fa-user"></i>
                    <label for="inputFirstName">Имя</label>
                </div>
                <div class="col-md-8 col-12">
                    <input id="inputFirstName" name="first_name" value="{{ app.user.firstName }}" type="text" class="form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-12">
                    <i class="far fa-user"></i>
                    <label for="inputLastName">Фамилия</label>
                </div>
                <div class="col-md-8 col-12">
                    <input id="inputLastName" name="last_name" value="{{ app.user.lastName }}" type="text" class="form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-12">
                    <i class="fas fa-mobile-alt"></i>
                    <label for="inputPhone">Телефон</label>
                </div>
                <div class="col-md-8 col-12">
                    <input id="inputPhone" name="phone" value="{{ app.user.phone }}" type="text" class="form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-12">
                    <i class="fas fa-user-friends"></i>
                    <label for="inputIdUser">Кто пригласил</label>
                </div>
                <div class="col-md-8 col-12">
                    <select name="id_user" id="inputIdUser" class="form-control">
                        {% for user in userList %}
                            <option value="{{ user.Id }}" {% if app.user.idUser == user.Id %} selected {% endif %}>{{ user.FirstName|e }} {{ user.LastName|e  }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-12">
                    <i class="far fa-building"></i>
                    <label for="inputIdOrg">Организация</label>
                </div>
                <div class="col-md-8 col-12">
                    <input id="inputIdOrg" value="{{ app.user.organization.name }}" name="org" type="text" class="form-control">
                    <input id="idOrg" type="hidden" name="id_org" value="{{ app.user.organization.id }}">
                </div>
            </div>
            <button id="btnSave" class="btn btn-info">Сохранить</button>
        </form>
    </div>
    <div id="results"></div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/profile.js') }}"></script>
    <script src="{{ asset('js/jquery.easy-autocomplete.min.js') }}"></script>
{% endblock %}
